{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autofocus class="form-control" name="old_password" placeholder="Old Password" type="password"/><br/><br/>
            <input autofocus class="form-control" name="new_password" placeholder="New Password" type="password"/><br/><br/>
            <input autofocus class="form-control" name="verify_password" placeholder="Verify Password" type="password"/><br/><br/>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
