{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Stock Symbol</th>
        <th>Type</th>
        <th>Number of Shares</th>
        <th>Price</th>
        <th>Total Value</th>
    </tr>
    </thead>

    {% for row in rows %}
        <tr>
            <td>{{ row.timestamp }}</td>
            <td>{{ row.symbol }}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.num_shares }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.total }}</td>
        </tr>
    {% endfor %}

</table>


{% endblock %}
